.profile {
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
    margin-right: 10px;
    width: 200px;
    height: 204px;
    text-align: center;
}

.profile-choose {
    display: inline;
    position: absolute;
    z-index: 2;
}

.profile-cover {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    transition: all ease .2s;
    z-index: 3;
}

.profile-cover:hover {
    opacity: 0.3;
    cursor: pointer;
}

.choose-row {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 200px;
    margin-top: 30px;
    /* padding-left: 10%; */
    padding-right: 0%;
    width: 100%;
    white-space: nowrap;
}

.onboard-profile {
    padding-right: 2%;
}

#checkCur {
    color: white;
    font-size: 5em;
    margin-top: 5%;
    /* margin-left: 15%; */
}

.curatorMovies {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

.contain {
    margin-top: 10vh;
    max-height: 90vh;
    overflow-y: scroll;
    padding-top: 0px !important
}

