.left {
    margin-top: 100px;
    padding-left: 10px;
    width: 20% !important;
    height: 100%;
    float: left;
    text-align: left;
}

.right {
    margin-top: 100px;
    width: 80% !important;
    height: 100%;
    float: right;
}

.profile-row {
    width: 100%;
    max-height: 35vh;
    overflow-y: auto;
    margin-bottom: 20px;
}

.profile-col {
    display: inline-block;
    white-space: nowrap !important;
}

.bio {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.my-profile > img {
    width: 80%;
    margin: auto;
}